:root {
  --green: #08bf46;
  --light-green: #c6e9d2;
  --grey: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.navbar {
  /* height: 10vh; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  background-color: white;
  z-index: 1;
}

.navbar-text {
  display: flex;
  align-items: center;
}
.navbar-text a {
  text-decoration: none;
}

.middle-nav {
  font-size: 2.4rem;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  height: 8.2rem;
  display: flex;
  align-items: center;
  padding: 0 3.5rem;
  transition: all 300ms ease-in-out;
}

.middle-nav:hover {
  background-color: var(--grey);
  background-color: var(--grey);
}

.app-button {
  padding: .2rem 4.8rem;
  margin-left: 12.9rem;
  /* width: 46rem; */
  font-size: 2.4rem;
  font-weight: 500;
  background-color: var(--green);
  border: none;
  border-radius: .8rem;
  color: white;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
  cursor: pointer;
}

.app-button:hover, .app-button:active {
  background: white;
  color: var(--green);
  border: solid .2rem var(--green);
  padding: 0 4.6rem;
}

.hero {
  /* width: 100%; */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 8.2rem 0 0 0;
  background: var(--light-green);
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--green);
  padding: 0 5.0rem;
  height: 100%;
}

.hero_content h1 {
  text-align: left;
  font-size: 9.6rem;
  color: white;
  margin: 0 0 3.2rem 0;
  line-height: 1;
}

.hero_content p {
  text-align: left;
  color: white;
  margin: 0;
  font-size: 2rem;
}

.hero_img_container {
  background: url(./image/phone-vote.png) var(--light-green);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 5rem;
}

.candidates {
  display: none;
}

.card_container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  padding: 3rem 5.6rem;
  padding-top: 10rem;
}

.card_img {
  background: url(./image/edward.png) no-repeat rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 5px gray;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
}

.card_img2 {
  background: url(./image/elon.png) no-repeat rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 5px gray;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
}

.card {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.card_note {
  border-radius: 0 1rem 1rem 0;
  box-shadow: 1px 1px 5px gray;
  margin: 2rem 0;
  padding: 5rem 6rem 9rem;
  font-size: 2.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.card_note h3 {
  text-align: center;
  margin: 0;
  font-size: 3.6rem;
  font-weight: 700;
}

.card_note p {
  margin: 0;
}

.card_note ul {
  margin: 0;
  list-style-image: var(--green);
}

.card_note li:nth-child(1) {
  margin-bottom: 2rem;
}

.footer {
  background-color: var(--light-green);
  font-size: 2.4rem;
  display: grid;
  grid-template-rows: 1fr;
}

.footer_nav {
  display: flex;
  justify-content: space-around;
  margin: 9.5rem 0;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer_nav a {
  text-decoration: none;
  color: black;
}
.footer_nav a:hover {
  color: var(--green);
}

.footer_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 9.5rem 0;
  border-top: black 2px solid;
}

.footer_copy {
  margin-left: 5.6rem;
}

.footer_socials {
  margin-right: 5.6rem;
}

@media only screen and (max-width: 1050px) {
  .navbar {
    padding: 0 3rem;
  }
  .middle-nav {
    display: none;
  }

  .app-button {
    font-size: 1.4rem;
    margin-left: 0;
    height: 3.7rem;
  }

  .hero {
    grid-template-columns: 1fr;
    padding-right: 0;
    height: auto;
  }

  .hero_content {
    height: 100vh;
    padding: 6.7rem 2.1rem;
  }

  .hero_img_container {
    height: 100vh;
    margin: 4rem 4.7rem;
  }

  .candidates {
    font-size: 2.4rem;
    background-color: var(--grey);
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
 
  .card_container {
    padding: 2.6rem;
    padding-top: 3.2rem;
  }

  .card {
    grid-template-columns: 1fr;
  }

  .card_note {
    margin: 0 1rem;
    padding: 3.2rem 3rem 4.6rem;
    font-size: 1.4rem;
    border-radius: 0 0 1rem 1rem;
  }

  .card_note h3 {
    font-size: 2.4rem;
  }

  .card_note ul {
    padding-inline-start: 2rem;
  }

  .card_img {
    min-height: 250px;
  }

  .card_img2 {
    min-height: 250px;
  }

  .footer_nav {
    flex-direction: column;
    align-items: center;
  }

  .footer_nav a, .footer_copy {
    font-size: 1.6rem;
  }

  .footer_info {
    justify-content: center;
    flex-direction: column;
  }

  .footer_copy {
    margin: 0;
  }

  .footer_socials {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .social {
    width: 48px;

    display: flex;
    align-content: space-between;
    gap: 10px;
  }
}

/* 
@media screen  (max-width: 826px) { 
    *{
        padding: 0;
        margin: 0;
        box-sizing: inherit;
    }
    html{
        font-size: 8px;
        box-sizing: border-box;
    }
    .content{
        /* width: 100%;
        margin-top: 10vh;
        height: 110vh;
        padding-bottom: 20vh;
        display:grid;
        grid-template-rows: 1fr 1fr; */
/* width: 100%; */

/* }
    .content_info{
        width: 100%;
        position: relative;
        padding : 2rem;
        background-color: green;
    }
    .content_info h1{
        color: white;
        font-size:12rem;
        position: absolute;
        top:18%;
        left: 10%;
        
    }
    .content_info p{
        color: white;
        font-size: 2rem;
        position: absolute;
        bottom:44%;
        left: 14%;
        
    }
    .content_info_2{
        width: 100%;
        position: relative;
        padding : 2rem;
        background-color: lightgreen;
    }
    .imginfo{
        display:none;
        width:50rem;
        position: absolute;
        top:15%;
        right : 18%;
    }
} 

@media only screen and (max-width: 480px) {
   
} */
